<mat-card mat-card style="width:fit-content;margin-left: 30%;">
    <mat-card-title>Change Password</mat-card-title>
    <form (ngSubmit)="changepassword(f)" #f="ngForm">
        <table>
            <tr>
                <td>Old Password</td>
                <td><input name="OldPassword" type="password" ngModel required></td>    
            </tr>
            <tr>
                <td>New Password</td>
                <td><input name="NewPassword" type="password" ngModel required></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input name="ConfirmPassword" type="password" ngModel required></td>
            </tr>
            <tr>
                <button type="submit" mat-raised-button color=warn>submit</button>
            </tr>
        </table>
    </form>
</mat-card>
