<body class="background-img">
    <mat-toolbar color="warn">
        <span>Angular Medical Group</span>
    </mat-toolbar>
    <mat-card style="width: fit-content;margin-left: 40vw; margin-top: 30vh;">
        <mat-card-title>Email</mat-card-title>
        <mat-card-content>
            <input type="email" [(ngModel)]="email" placeholder="xxxxxx@yyyy.com">
        </mat-card-content>
        <mat-card-actions><button mat-raised-button (click)="send()" color=warn>submit</button></mat-card-actions>
    </mat-card>
</body>
