<table>
  <tr>
    <td align="right" style="width:100%;">
      <label for="code">Code:</label>
      <input type="text" (change)="search()" [(ngModel)]="code" id="code">
      <label for="description">Description</label>
      <select [(ngModel)]="filter">
        <option value="contains">Contains</option>
        <option value="notcontains">Not Contains</option>
        <option value="beginswith">Begins With</option>
        <option value="endswith">Ends With</option>
        <option value="equalsto">Equals to</option>
        <option value="notequalsto">Not Equals to</option>
      </select>
      <input [(ngModel)]="discription" type="text" id="description">
      <button (click)="search()">Search</button>
    </td>
  </tr>
</table>
<div style="user-select:none;cursor: pointer;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%;">
    <ng-container matColumnDef="abbreviation">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element" style="text-decoration: underline;" (click)="selectstate(element.abbreviation)"> {{element.abbreviation}} </td>
      </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>