<form [formGroup]='providerCreds' (ngSubmit)="onSubmit()">
    <fieldset formGroupName="basicinformation">
        <legend><b>Basic Information</b></legend>
        <table>
            <tr>
                <td align="right"><span style="color: red;">*</span>Category:</td>
                <td style="width:30%;">
                    <mat-select formControlName='category'>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of category" [value]="each">{{each}}</mat-option>
                </mat-select>
            </td>
                <td align="right" style="width:20%;"><span style="color: red;">*</span>NPI#:</td>
                <td><input type="text" formControlName='npi'></td>
                <td align="right" style="width:20%;">Show on Web</td>
                <td><select>
                    <option>NO</option>
                    <option>YES</option>
                </select></td>
            </tr>
            <tr>
                <td align="right">
                    <span style="color:red">*</span>Provider Type:
                </td>
                <td>
                    <mat-select formControlName="providertype">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let each of type" [value]="each">
                            {{each}}
                        </mat-option>
                    </mat-select>
                </td>
                <td align="right">
                    <span style="color: red;">*</span>Provider ID:
                </td>
                <td>
                    <input type="text" formControlName="providerid">
                </td>
            </tr>
            
            <tr>
                <td align="right">
                    <span style="color: red;">*</span>Primary Speciality:
                </td>
                <td>
                    <mat-select formControlName="primaryspeciality">
                        <input type="text" style="width:90%;padding:2%;margin:2%;position:sticky;top:0;z-index:1;" placeholder="search" (keydown)="$event.stopPropagation()" (input)="searchspeciality($event.target.value)">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let each of speciality" [value]="each.abbrevation">{{each.abbrevation}} - {{each.name}}<u>{{each.name2}}</u>{{each.name3}}</mat-option>
                    </mat-select>
                </td>
                <td align="right">
                    Taxonomy Codes:
                </td>
                <td>
                    <button mat-raised-button type="button" color=warn>select</button>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="checkbox" formControlName="preferedspeciality" id="preferedspeciality">
                    <label for="preferedspeciality">Prefered Speciality</label><br>
                    <span>(For Primary Speciality Only)</span>
                </td>
                <td></td>
                <td align="right">
                    <input type="checkbox" formControlName="referanymember" id="referanymember">
                    <label for="referanymember">Refer any Member</label>
                </td>
            </tr>
        </table>
        <mat-toolbar style="height: fit-content;"><span style="margin-bottom: 0%;" class="mat-title">Name</span></mat-toolbar>
        <table>
            <tr>
                <td align="right" style="width:10%;">Title:</td>
                <td style="width:20%;"><mat-select formControlName="nameTitle" style="border:1px solid black">
                    <mat-option></mat-option>
                    <mat-option value="UNKNOWN">UNKNOWN</mat-option>
                    <mat-option value="DO">DO</mat-option>
                    <mat-option value="VENDOR">VENDOR</mat-option>
                    <mat-option  value="DR.">DR.</mat-option>
                    <mat-option  value="HON.">HON.</mat-option>
                    <mat-option  value="MISS">MISS</mat-option>
                    <mat-option  value="MR.">MR.</mat-option>
                    <mat-option  value="MRS.">MRS.</mat-option>
                    <mat-option  value="MS.">MS.</mat-option>
                    <mat-option  value="SIR">SIR</mat-option>
                </mat-select></td>
                <td align="right" style="width:10%;"><span style="color: red;">*</span>Last:</td>
                <td><input type="text" formControlName="nameLast" [(ngModel)]="lastName"></td>
                <td align="right" style="width:10%;">First:</td>
                <td><input type="text" formControlName="nameFirst"></td>
                <td align="right" style="width:10%;">Middle:</td>
                <td><input type="text"formControlName="nameMiddle"></td>
            </tr>
            <tr>
                <td align="right">Suffix:</td>
                <td>
                    <mat-select style="border: 1px solid black;" formControlName="nameSuffix">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let each of suffix" [value]="each">{{each}}</mat-option>
                    </mat-select>
                </td>
                <td align="right">Prof.Suffix:</td>
                <td>
                    <mat-select formControlName="nameProfSuffix">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let each of profesuffix" [value]="each">{{each}}</mat-option>
                    </mat-select>
                </td>
                <td align="right">
                    Middle Name
                </td>
                <td>
                    <input type="text" formControlName="nameMiddleName">
                </td>
            </tr>
        </table>
        <mat-toolbar style="height: fit-content;"><span style="margin-bottom: 0%;" class="mat-title">Personal</span></mat-toolbar>
        <table>
            <tr>
                <td align="right" width="15%"><span style="color:red;">*</span>Gender:</td>
                <td><mat-select formControlName="personalGender">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of gender" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td align="right" width="15%">DOB:</td>
                <td>
                    <input [matDatepicker]="dobpick" formControlName="personalDateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="dobpick"></mat-datepicker-toggle>
                    <mat-datepicker #dobpick></mat-datepicker>
                </td>
                <td align="right">SSN:</td>
                <td><input type="text" formControlName="personalSsn"></td>
                <td align="right">Citenzenship:</td>
                <td width="10%">
                    <mat-select formControlName="personalCitezenship">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let each of citizenship" [value]="each">{{each}}</mat-option>
                    </mat-select>
                </td>
            </tr>
            <tr>
                <td align="right">Birth City:</td>
                <td><input type="text" formControlName="personalBirthCity"></td>
                <td align="right">Birth State:</td>
                <td><mat-select formControlName="personalBirthState">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let state of statevalue.states" [value]="state.abbreviation">{{state.abbreviation}} - {{state.name}}</mat-option>
                </mat-select></td>
                <td align="right">Birth Country:</td>
                <td><mat-select formControlName="personalBirthCountry">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let country of statevalue.countries" [value]="country.code">{{country.code}} - {{country.name}}</mat-option>
                </mat-select></td>
            </tr>
        </table>
    </fieldset>
    <fieldset formGroupName="providerInformation">
        <legend><b>Provider Information</b></legend>
        <table>
        <td align="right" width="15%"><span style="color: red;">*</span>Contract Type:</td>
        <td width="20%"><mat-select formControlName="contractType">
            <mat-option></mat-option>
            <mat-option *ngFor="let each of contractType" [value]="each">{{each}}</mat-option>
        </mat-select></td>
        <td align="right"  width="15%"><span style="color:red;">*</span>From Date:</td>
        <td>
            <input [matDatepicker]="contractfrompick" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="contractfrompick"></mat-datepicker-toggle>
                    <mat-datepicker #contractfrompick></mat-datepicker>
        </td>
        <td align="right" width="15%">Contract Term Date:</td>
        <td>
            <input [matDatepicker]="contracttermpick" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="contracttermpick"></mat-datepicker-toggle>
                    <mat-datepicker #contracttermpick></mat-datepicker>
        </td>
        <tr>
            <td align="right"><span style="color:red">*</span>Payment Type:</td>
            <td>
                <mat-select formControlName="paymentType">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of paymentType" [value]="each">{{each}}</mat-option>
                </mat-select>
            </td>
            <td align="right"><span style="color:red">*</span>Account#:</td>
            <td><mat-select formControlName="account">
                <mat-option></mat-option>
                <mat-option *ngFor="let each of account" [value]="each">{{each}}</mat-option>
            </mat-select></td>
            <td align="right">Carrier#-Locality#:</td>
            <td>
                <mat-select formControlName="carrierlocality">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of carrierlocality" [value]="each.carrier+'-'+each.locality">{{each.carrier}}-{{each.locality}} ({{each.name}})</mat-option>
                </mat-select>
            </td>
        </tr>
    </table>    
    </fieldset>
    <fieldset formArrayName="organizationInformation">
        <legend><b>Organization Information</b></legend>
        <table style="border-collapse: collapse;">
            <tr><td style="border:1px solid black"><span style="color: red;">*</span>Organization</td>
                <td style="border:1px solid black"><span style="color: red;">*</span>Seq</td>
                <td style="border:1px solid black">Tax Id</td>
                <td style="border:1px solid black"><span style="color: red;">*</span>Organization Type</td>
                <td style="border:1px solid black"><span style="color: red;">*</span>Org Effective From</td>
                <td style="border:1px solid black">Org Effective To</td>
                <td style="border:1px solid black"><button mat-button type="button" (click)="addorgline()" color=warn>+</button></td>
            </tr>
            <tr *ngFor="let eachOrganization of providerCreds.get('organizationInformation')['controls'];let i=index" [formGroupName]="i">
                <td style="border:1px solid black" width="40%">
                    <input type="text" formControlName="organizationId" style="margin-left:5%;width:30%"><button mat-button type="button" style="width:2%;"><mat-icon color=warn (click)="searchorganization(i)">search</mat-icon></button><input type="text" style="width:40%;" formControlName="organizationName" disabled></td> 
                <td style="border:1px solid black"width="5%"><input type="text" style="width:30%;margin-left:20%;width:20%" [value]="i+1" disabled></td>
                <td style="border:1px solid black"></td>
                <td style="border:1px solid black;width:10%;"><mat-select formControlName="organizationType" style="width:70%;margin-left:5%;">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of orgType" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td style="border:1px solid black">
                    <input [matDatepicker]="orgEffectiveFrom" formControlName="organizationEffectiveFrom" style="margin-left:5%;">
                    <mat-datepicker-toggle matSuffix [for]="orgEffectiveFrom"></mat-datepicker-toggle>
                    <mat-datepicker #orgEffectiveFrom></mat-datepicker>
                </td>
                <td style="border:1px solid black">
                    <input [matDatepicker]="orgEffectiveTo" formControlName="organizationEffectiveTo" style="margin-left:5%;">
                    <mat-datepicker-toggle matSuffix [for]="orgEffectiveTo"></mat-datepicker-toggle>
                    <mat-datepicker #orgEffectiveTo></mat-datepicker>
                </td>
                <td style="border:1px solid black">
                    <button mat-button color=warn (click)="remove(i)">X</button>
                </td>
            </tr>
        </table>
    </fieldset>
    <table>
        <tr>
            <td>
                <fieldset formGroupName="clia">
                    <legend><b>CLIA Requirements</b></legend>
                    <input formControlName="certified" type="checkbox" id="cliacertified">
                    <label for="cliacertified">CLIA Certified</label>
                    <input formControlName="waivable1" type="checkbox" id="clia1waivable">
                    <label for="clia1waivable">CLIA 1 Waivable</label>
                    <input formControlName="waivable2" type="checkbox" id="clia2waivable">
                    <label for="clia2waivable">CLIA 2 Waivable</label>
                </fieldset>
            </td>
            <td>
                <fieldset formGroupName="authConfiguration">
                    <legend><b>Authorization Configuration</b></legend>
                    <table>
                        <tr>
                            <td align="right">Authorization Valid For Days:</td>
                            <td><input type="text" formControlName="validfrom"></td>
                            <td align="right">Allowed Visits:</td>
                            <td><input type="text" formControlName="allowedVisits"></td>
                        </tr>
                        <tr>
                            <td align="right">Accept Patients:</td>
                            <td><input type="checkbox" formControlName="acceptPatient"></td>
                            <td align="right">Allowed As Reffering To Provider:</td>
                            <td><input type="checkbox" formControlName="allowasReferingProvider"></td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
    <fieldset formGroupName="letterDispatchMode">
        <legend><b>Default Letter Dispatch Mode</b></legend>
        <table>
            <tr>
                <td align="right" style="width:20%">Authorization:</td>
                <td width="10%"><mat-select formControlName="authorization">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td align="right" style="width:20%">Case Management:</td>
                <td width="10%"><mat-select formControlName="caseManagement">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td align="right" style="width:20%">Claims:</td>
                <td width="10%"><mat-select formControlName="claims">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
            </tr>
            <tr>
                <td align="right">Clinical Alerts:</td>
                <td><mat-select formControlName="clinicalAlerts">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td align="right">Credentialing:</td>
                <td><mat-select formControlName="credentialing">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td align="right">Hedis:</td>
                <td><mat-select formControlName="hedis">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
            </tr>
            <tr>
                <td align="right">PDR:</td>
                <td><mat-select formControlName="pdr">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td align="right">Referal Tracking:</td>
                <td><mat-select formControlName="referalTracking">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of letterMode" [value]="each">{{each}}</mat-option>
                </mat-select></td>
            </tr>
        </table>
    </fieldset>
    <fieldset formGroupName="primaryLocation">
        <legend><b>Primary Location</b></legend>
        <table>
            <tr>
                <td width="15%" align="right"><span style="color:red;">*</span>Practice Type:</td>
                <td><mat-select formControlName="practiceType">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let each of providerPracticeType" [value]="each">{{each}}</mat-option>
                </mat-select></td>
                <td width="10%" align="right">Name:</td>
                <td><input type="text" formControlName="name"></td>
                <td width="10%" align="right"><span style="color: red;" width="10%" align="right">*</span>Address1:</td>
                <td><input type="text" formControlName="address1"></td>
                <td width="10%" align="right">Address2:</td>
                <td><input type="text" formControlName="address2"></td>
            </tr>
            <tr>
                <td align="right">Suite/Apt No:</td>
                <td><input type="text" formControlName="aptno"></td>
                <td align="right"><span style="color: red;">*</span>City:</td>
                <td><input type="text" formControlName="city"></td>
                <td align="right"><span style="color: red;">*</span>State:</td>
                <td><mat-select formControlName="state">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let state of statevalue.states" [value]="state.abbreviation">{{state.abbreviation}} - {{state.name}}</mat-option>
                </mat-select></td>
                <td align="right">Country:</td>
                <td><mat-select formControlName="countryid">
                    <mat-option></mat-option>
                    <mat-option [value]="country.id+'-'+country.name" *ngFor="let country of addressCountry">{{country.id}} - {{country.name}}</mat-option>
                </mat-select></td>
            </tr>
            <tr>
                <td align="right">Country:</td>
                <td><mat-select formControlName="country">
                    <mat-option></mat-option>
                    <mat-option [value]="country.code" *ngFor="let country of statevalue.countries">{{country.code}} - {{country.name}}</mat-option>
                </mat-select></td>
                <td align="right"><span style="color:red">*</span>Zip:</td>
                <td><input type="text" formControlName="zip"></td>
                <td align="right">Phone:</td>
                <td><input type="text" PhoneMask formControlName="phone"></td>
                <td align="right">Fax:</td>
                <td><input type="text" PhoneMask formControlName="fax"></td>
            </tr>
        </table>
    </fieldset>
    <fieldset formGroupName="contactStatus">
        <legend><b>Contract Status</b></legend>
        <tr>
            <td align="right" style="width:30%;"><span style="color: red;">*</span>Contract Template:</td>
            <td style="width:10%;"><mat-select formControlName="contractTemplate">
                <mat-option></mat-option>
                <mat-option [value]="each" *ngFor="let each of providerContractTemplate">{{each}}</mat-option>
            </mat-select></td>
            <td align="right" style="width:20%;"><span style="color:red;">*</span>From Date:</td>
            <td>
                <input [matDatepicker]="frmdtpick" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="frmdtpick"></mat-datepicker-toggle>
                <mat-datepicker #frmdtpick></mat-datepicker>
            </td>
            <td align="right">To Date:</td>
            <td>
                <input [matDatepicker]="todtpick" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="todtpick"></mat-datepicker-toggle>
                <mat-datepicker #todtpick></mat-datepicker>
            </td>
        </tr>
    </fieldset>
    <fieldset formGroupName="appointmentStatus">
        <legend><b>Appointment Status</b></legend>
        <table>
            <tr>
                <td align="right" style="width: 40%;"><span style="color: red;">*</span>Parent/Payor Facility:</td>
                <td style="width:10%;"><mat-select formControlName="parentPayorFacility1">
                    <mat-option></mat-option>
                    <mat-option value="AMG">AMG</mat-option>
                </mat-select></td>
                <td align="right" style="width: 20%;"><span style="color: red;">*</span>Parent/Payor Facility:</td>
                <td style="width:10%;"><mat-select formControlName="parentPayorFacility2">
                    <mat-option></mat-option>
                    <mat-option value="AMG">AMG</mat-option>
                </mat-select></td>
                <td align="right" style="width: 10%;">App. Type:</td>
                <td style="width:20%;"><mat-select formControlName="appType">
                    <mat-option></mat-option>
                    <mat-option value="Initial">Initital</mat-option>
                    <mat-option value="Temp">Temp</mat-option>
                    <mat-option value="Reap">Reap</mat-option>
                    <mat-option value="Net Dev">Net Dev</mat-option>
                </mat-select></td>
            </tr>
        </table>
    </fieldset>
    <button mat-raised-button style="margin-left:40%;" type=submit color=warn>save</button>
</form>
